<h2>Edit User <%= @user.name %></h2>

<% if @user.errors.any? %>
  <p class="alert">Unable to create user.
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </p>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <% if current_user.admin %>
    <div class="field">
      <%= f.label :admin %><br />
      <%= f.check_box :admin %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manager %><br />
    <%= f.check_box :manager %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
