<h2>Events</h2>

<%= link_to "Add Event", new_event_path %>

<table>
  <thead>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </thead>
<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event_path(event) %></td>
    <td><%= l(event.start_date.to_date, format: :long) %></td>
    <td><%= l(event.end_date.to_date, format: :long) %></td>
    <td>
      <% if current_user.admin || current_user.manager %>
        <%= link_to "Edit", edit_event_path(event) %>
        <%= link_to "Delete", event_path(event), method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>