<% if current_user.admin || current_user.manager %>
  <%= link_to "Add Event", new_event_path, class: "btn btn-primary pull-right" %>
<% end %>

<h1 class="page-title">Events</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </thead>
<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event_path(event) %></td>
    <td><%= l(event.start_date.to_date, format: :long) %></td>
    <td><%= l(event.end_date.to_date, format: :long) %></td>
    <td class="actions">
      <%= link_to "Edit", edit_event_path(event) %>
      <% if current_user.admin %>
        <%= link_to "Delete", event_path(event), method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
