<nav class="righthand-nav">
  <%= link_to "Import Attendees", import_event_attendees_path(@event), class: "btn btn-primary" %>
  <%= link_to "Add Attendee", new_event_attendee_path(@event), class: "btn btn-primary" %>
</nav>
<h1><%= @event.name %></h1>

<nav>
  <%= link_to "Roles", event_roles_path(@event) %>
  <%= link_to "Generate Badges", export_event_attendees_path(@event), method: :post, target: "_blank" %>
  <%= link_to "Generate Blanks", export_blanks_event_attendees_path(@event), method: :post, target: "_blank" %>
</nav>

<div>
  <%= form_tag event_path(@event), method: :get do %>
    <%= text_field_tag "first_name", params['first_name'], placeholder: "First Name"  %>
    <%= text_field_tag "last_name", params['last_name'], placeholder: "Last Name"  %>
    <%= submit_tag "Search", class: "btn btn-xs btn-secondary"  %>
  <% end %>
</div>
<table>
  <th></th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Role</th>
  <th>Company</th>
  <th>Twitter</th>
  <th></th>
  <% @attendees.includes(:role).alphabetical.each do |attendee| %>
    <tr>
      <td data-url=<%= check_in_event_attendee_path(@event, attendee) %> data-checked-in=<%= attendee.checked_in? %>>
        <%= fa_icon("check-square-o") %>
      </td>
      <td><%= attendee.first_name %></td>
      <td><%= attendee.last_name %></td>
      <td><%= attendee.email %></td>
      <td><%= attendee.role.name %></td>
      <td><%= attendee.company %></td>
      <td><%= attendee.twitter %></td>
      <td class="actions">
        <%= link_to "Edit", edit_event_attendee_path(@event, attendee) %>
        <%= link_to "Delete", event_attendee_path(@event, attendee), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
