<!DOCTYPE html>
<html>
<head>
  <title>Badger The Badge Making App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="title"><a href="<%= root_path %>">Badger Badger Badger</a></h1>

    <% if user_signed_in? %>
      <p>
        Welcome, <%= current_user.name %>!
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </header>

  <nav>
    <% if user_signed_in? && (current_user.admin || current_user.manager) %>
      <%= link_to "Users", users_path %>
    <% end %>
    <%= link_to "Events", events_path %>
  </nav>

  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>


  <%= javascript_include_tag 'application' %>
</body>
</html>
